<header>
    <h1>Plant Manager</h1>
    <ul>
        <li><a href="/plants/manager">Plant Manager Home</a></li>
        <li><a href="/plants/propagate" class="index">Add a New Plant</a></li>
    </ul>
</header>