<style>
    a.current {
    text-decoration: underline !important;
}
</style>

<header>
    <h1>Plant Manager</h1>
    <ul>
        <li><a href="/plants/manager">Plant Manager Home</a></li>
        <li><a href="/plants/propagate" class="index">Add a New Plant</a></li>
        <li><a href="https://www.thesill.com/pages/care-library" target="_blank">Resources</a></li>
    </ul>
</header>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous">
</script>
<script>
    $(function(){
        $('a').each(function() {
            if ($(this).prop('href') == window.location.href) {
                $(this).addClass('current');
            }
        });
    });
</script>
<!-- TODO: Add conditional logic for current page -->