<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body class="new">
    <%- include('./partials/header.ejs') %>
    <h1 class="show">Add a New Plant</h1>
    <div class="new">
        <div class="new-plant">
            <form action="/plants" method="POST" enctype="multipart/form-data" class="new">
                <table>
                    <tr>
                        <td>Name:</td>
                        <td><input type="text" name="name" placeholder="Name"/></td>
                    </tr>
                    <tr>
                        <td>Upload an Image:</td>
                        <td><input type="file" name="uplImage" class="custom-file-input" required/>
                    </td>
                    </tr>
                    <tr>
                        <td>Description:</td>
                        <td><input type="text" name="description" placeholder="Description"/></td>
                    </tr>
                    <tr>
                        <td>Sunlight Needs:</td>
                        <td><input type="text" name="sunlight" placeholder="Sunlight"/> </td>
                    </tr>
                    <tr>
                        <td>Watering Needs:</td>
                        <td><input type="text" name="water" placeholder="Water"/></td>
                    </tr>
                    <tr>
                        <td>Common Problems:</td>
                        <td><input type="text" name="problems" placeholder="Problems"/> </td>
                    </tr>
                    <tr>
                        <td>&#160;</td>
                        <td> <input type="submit" value="Add Plant" class="btn new-btn" /></td>
                    </tr>
                </table>
               
            </form>
        </div>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>

</html>