/****************************************************/
/******************** GENERAL ************************/
/****************************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

nav {
    justify-content: space-between;
}

.btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: fit-content;
    border: 2px solid #249485;
    box-shadow: 2px 3px 3px #249485;
    color: black;
    font-size: 14pt;
    border-radius: 5px;
    text-decoration: none;
}

/****************************************************/
/******************** LAND.EJS ************************/
/****************************************************/
body.land {
    background-image: url("https://i.imgur.com/I5if9UR.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #FCD9D3;
}

h1.land {
    padding-left: 50px;
    height: 10em;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    flex-grow: 1;
}

main.land {
    padding-left: 300px;
    height: 10em;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

/****************************************************/
/******************** HEADER ************************/
/****************************************************/

header {
    margin-bottom: 2em;
    width: 100%;
    margin: 0 auto;
    padding: 1em 3em;
    background: #EFEDF0;
    border-radius: 1em;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

header ul {
    margin: 0;
    display: flex;
    align-items: center;
}

header li {
    font-weight: 700;
    margin-left: 1em;
    text-transform: uppercase;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0 0 2em 0;
}

li {
    margin: 1em 0;
}

li a {
    text-decoration: none;
    color: #249446;
}

li a:hover {
    color: #3f6862;
}

/****************************************************/
/******************** INDEX.EJS ************************/
/****************************************************/

body.index {
    background-image: url("https://i.imgur.com/Q7Fit8I.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #4bb6a8;
}

main.index {
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div.index {
    background-color: #FCD9D3;
    height: 350px;
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    margin: .4rem;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 2px solid #fff;
    padding: 10px;
}

img.index {
    height: 200px;
    width: 200px;
}

.index-name {
    font-weight: bold;
}


/****************************************************/
/******************** NEW/EDIT.EJS ************************/
/****************************************************/
body.new {
    background-image: url("https://i.imgur.com/GBpUyDz.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

div.new {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14pt;
}

h1.new {
    display: flex;
    text-align: center;
    justify-content: center;
}

div.new-plant {
    margin: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    background-color: #EFEDF0;
    height: 300px;
    width: 400px;
    border-radius: 10px;

}

input {
    float: right;
    margin: 10px 0px 2px 20px;
}

.add-btn {
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    width: 100px;
}

/****************************************************/
/******************** SHOW.EJS ************************/
/****************************************************/
body.show {
    background-image: url("https://i.imgur.com/GBpUyDz.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

div.show {
    flex-grow: 1;
    justify-content: center;
}

h1.show {
    padding: 1em;
    text-align: center;
}

.plant-page {
    display: flex;
    justify-content: space-evenly;
}

.plant-img {
    margin: 50px;
    max-height: 400px;
    max-width: 400px;
}

.plant-det {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14pt;
    max-width: 500px;
    margin: 50px;
}

/* ================ */
/*     FOOTER       */
/* ================ */
footer {
    margin-top: 2em;
    font-weight: bold;
    font-size: 0.9em;
    letter-spacing: 0.1em;
    text-align: center;
    padding-bottom: 10px;
  }