* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

nav {
    justify-content: space-between;
}


/****************************************************/
/********************LAND.EJS************************/
/****************************************************/
body.land {
    background-image: url("https://i.imgur.com/I5if9UR.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #FCD9D3;
}

h1.land {
    padding-left: 50px;
    height: 10em;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

main.land {
    padding-left: 300px;
    height: 10em;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.land-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 150px;
    border: 2px solid #249485;
    box-shadow: 2px 3px 3px #249485;
    color: black;
    font-size: 14pt;
    border-radius: 5px;
    text-decoration: none;
}

/****************************************************/
/********************INDEX.EJS************************/
/****************************************************/
h1.index {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: #EFEDF0;
    padding: 1rem;
    align-items: center;
    
}

a.index {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}


h1.index {
    font-size: 30pt;
    text-shadow: 3px 3px 2px #fff;
}

body.index {
    background-image: url("https://i.imgur.com/Q7Fit8I.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #4bb6a8;
}

main.index {
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div.index {
    background-color: #FCD9D3;
    height: 350px;
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    margin: .3rem;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 2px solid #fff;
}

img.index {
    height: 200px;
    width: 200px;
}

.index-name {
    font-weight: bold;
}

/****************************************************/
/********************SHOW.EJS************************/
/****************************************************/
body.show {
    background-image: url("https://i.imgur.com/GBpUyDz.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

div.show {
    justify-content: center;
}

h1.show {
    text-align: center;
}

.plant-page {
    display: flex;
    justify-content: space-evenly;
}

.plant-img {
    margin: 50px;
    max-height: 400px;
    max-width: 400px;
}

.plant-det {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14pt;
    max-width: 500px;
    margin: 50px;
}

/****************************************************/
/********************NEW.EJS************************/
/****************************************************/
body.new {
    background-image: url("https://i.imgur.com/GBpUyDz.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14pt;
}

div.new {
    display: flex;
    justify-content: center;
}

h1.new {
    display: flex;
    text-align: center;
    justify-content: center;
}

div.new-plant {
    margin: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    background-color: #EFEDF0;
    height: 300px;
    width: 400px;
    border-radius: 10px;

}

input {
    float: right;
    margin: 10px 0px 2px 20px;
}

.add-btn {
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    width: 100px;
}